:root{
    --main-btn-color: #FFFFFF;
    --second-btn-color: #4D5AE5;
    --sub-title-color: #2E2F42;
    --section-text-color: #434455;
}

body {
    font-family: 'Roboto', sans-serif;
    color: ;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul{
    margin: 0;
    padding-left: 0;
}

button{
    cursor: pointer;
}

address{
    font-style: normal;
}


.container{
    width: 1470px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;

}


.list {
    list-style: none;
}

.link {
    text-decoration: none
}

.link:is(:hover, :focus){
    color: #404BBF;
    }

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.sub-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--sub-title-color);
}

img{
    display: block;
}

.section-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--section-text-color);
}

.btn {
    font-family: inherit
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
}

.btn:is(:hover, :focus){
    color: #404BBF;
    }

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}



/*-----HEADER-----*/

.header {
    background-color: #FFFFFF;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-navigation {

}

span.span-logo{
    color: #4D5AE5;
}

.header-list {

}

.header-item {

}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-link:is(:hover, :focus){
color: #404BBF;
}

.header-mail{
font-size: 16px;
font-style: normal;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.header-tel {
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



/*-----HERO-----*/ 



.hero {
    background: #2E2F42;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 48px;
}

.hero-btn{
    color: var(--main-btn-color);
    display: block;
    margin: 0 auto;
}



/*-----SECTION-ONE-----*/



.first-section {
    background: #E5E5E5;
    margin-top: 120px;
    margin-bottom: 120px;
}

.section-sub-title{

}

.section-item{

}

.first-section-list{
    border: 1px solid ;
}


/*-----SECTION-TWO-----*/



.second-section{
    background: #FFFFFF;
    margin-top: 120px;
    margin-bottom: 120px;
}



/*-----SECTION-THREE-----*/



.third-section{
    background: #F4F4FD;
    margin-top: 120px;
    margin-bottom: 120px;
}

.third-sec-sub-title{
    text-align: center;
}

.third-sec-text{
    text-align: center;
}



/*-----FOOTER-----*/



.footer{
    background: #2E2F42;
}

.footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}



/*-----PORTFOLIO-----*/



.portfolio-main-btn{
color: var(--main-btn-color);
}

.portfolio-btn{
color: var(--second-btn-color);
}